<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br><br>
                <h3>Create new Listing</h3>
                <br>
                <form action="/listings" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="listing[title]" class="form-control"
                            placeholder="enter title" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">
                            Please enter a vaild title
                        </div>
                    </div>
                    <div>
                        <label for="title" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" placeholder="enter description"
                            required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">
                            Please enter a description
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Image</label>
                        <input type="text" name="listing[image][url]" class="form-control"
                            placeholder="enter image URL/link">

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="title" class="form-label">Price</label>
                                <input type="number" name="listing[price]" class="form-control"
                                    placeholder="enter price" required>
                                <div class="valid-feedback">Price looks good!</div>
                                <div class="invalid-feedback">
                                    Please enter a vaild price
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="title" class="form-label">Country</label>
                                <input type="text" name="listing[country]" class="form-control"
                                    placeholder="enter country" required>
                                <div class="valid-feedback">Country looks good!</div>
                                <div class="invalid-feedback">
                                    Please enter a vaild country
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" placeholder="enter location"
                            required>
                        <div class="valid-feedback">Location looks good!</div>
                        <div class="invalid-feedback">
                            Please enter a vaild location
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-danger px-4 ">Add</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </body>